scikit-image
matplotlib
pandas
numpy
wandb
notebook
torchmetrics 
scikit-learn
fvcore
torch
torchvision
keras-cv
keras-nlp
keras
kaggle
tensorboard
hydra-core
numba
mujoco
gymnasium
stable-baselines3[extra]
mediapy
pandas
ipython
